/* @page {
  size: A4;
  margin: 0
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

a{
  color: black;
  text-decoration: none;
} */

html, body {
  font-family: 'Jua', sans-serif;
  font-family: 'Karla', sans-serif;
  margin: 0;
    height: 100vh;
    width: 100vw;
    font-size: 1vw;
}